@import "../variables/variables.less";

body {
    position: relative;
    font-size: 14px;
    background-color: @background-color_BODY;
}

.contact-app {
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;

    .MuiFormControl-marginNormal-2 {
        margin-top: 8px;
    }
}

.contact-form {
    display: flex;

    .contact-form__input {
        padding-right: 10px;
    }

    .MuiFormControl-marginNormal {
        margin-top: 8px;
    }
}

.contact {
    display: flex;
}

.contact-box {
    position: relative;
    padding: 20px;
    margin-top: 15px;
    border: @border_contact-box;
    border-radius: 10px;

    .contact-delete-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        min-width: 40px;
        height: 40px;
        border-radius: 50%;
    }
}

.contact-delete-btn,
.contact-edit-button {
    font-weight: bold;
}

.submit-button {
    max-height: 36px;
    align-self: center
}

.contact {
    .avatar {
        margin-right: 10px;
        align-self: center;
        background-color: @background-colo_AVATAR;
    }

    .MuiFormControl-marginNormal {
        margin-top: 8px;
    }
}

.contact-features {
    display: flex;
    margin: 20px 0;
    align-items: center;
    font-size: 20/14em;

    .contact-edit-button {
        line-height: 18px;
        margin-left: auto;
    }
}

.MuiOutlinedInput-input {
    text-overflow: ellipsis;
}