body {
  position: relative;
  font-size: 14px;
  background-color: #e5e5e5;
}
.contact-app {
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;
}
.contact-app .MuiFormControl-marginNormal-2 {
  margin-top: 8px;
}
.contact-form {
  display: flex;
}
.contact-form .contact-form__input {
  padding-right: 10px;
}
.contact-form .MuiFormControl-marginNormal {
  margin-top: 8px;
}
.contact {
  display: flex;
}
.contact-box {
  position: relative;
  padding: 20px;
  margin-top: 15px;
  border: 1px solid #000;
  border-radius: 10px;
}
.contact-box .contact-delete-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
}
.contact-delete-btn,
.contact-edit-button {
  font-weight: bold;
}
.submit-button {
  max-height: 36px;
  align-self: center;
}
.contact .avatar {
  margin-right: 10px;
  align-self: center;
  background-color: #ff7500;
}
.contact .MuiFormControl-marginNormal {
  margin-top: 8px;
}
.contact-features {
  display: flex;
  margin: 20px 0;
  align-items: center;
  font-size: 1.42857143em;
}
.contact-features .contact-edit-button {
  line-height: 18px;
  margin-left: auto;
}
.MuiOutlinedInput-input {
  text-overflow: ellipsis;
}
